#### Directories to ignore for GIT
# service git folder
.git/
# service pyCharm folders
.idea/
__pycache__/

#### Files to ignore for GIT
# compiled python files
*.pyc

#### User files and folders
registration_py/
resized_data/
test_images/
*.nii.gz
config.json
